body{
    background: #000000;
   }
h1{
  position: absolute;
  left: 900px;
  top: 225px;
}
h2{
  position: absolute;
  left: 900px;
  top: 0px;
}
h3{
  position: absolute;
  top: 0px;
  left: 0px;
}
h4{
  position: absolute;
  top: 500px;
  left: 0px;
}
.p-absolute{
  padding: 20px;
  background-color: rgba(0, 255, 0, 0.25);
}
