body{
    background: #000000;
   }
h1{
  position: absolute;
  left: 900px;
  top: 225px;
}
h2{
  position: absolute;
  left: 900px;
  top: 0px;
}
h3{
  position: absolute;
  top: 0px;
  left: 0px;
}
h4{
  position: absolute;
  top: 500px;
  left: 225px;
}
.title span {
	padding: 50 10px;
	background: #FFFFFF;
}
