body{
    background: #000000;
   }
h1{
  position: absolute;
  left: 1120px;
  top: 160px;
}
h2{
  position: absolute;
  left: 1120px;
  top: 0px;
}
h3{
  position: absolute;
  top: 0px;
  left: 0px;
}
